
.login-box {
  background-image: url('../assets/Background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0;
  overflow: auto;
}

.logo-style {
  position: absolute;
  display: flex;
  top: 20px;
  right: 0;
}
